[General]

Background="backgrounds/bg.jpg"
VideoBackground="backgrounds/animbg.mp4"
FontFile="fonts/PressStart2P.woff"
Padding="50"
CornerRadius="5"
GeneralFontSize="9"
LoginScale="0.175"

UserPictureBorderWidth="5"
UserPictureBorderColor="#{{themix_ACCENT_BG-hex}}"
UserPictureColor="#{{themix_BG-hex}}"

TextFieldColor="#{{themix_BG-hex}}"
TextFieldHighlightColor="#{{themix_ACCENT_BG-hex}}"
TextFieldErrorColor="#f38ba8"

LoginButtonTextColor="#{{themix_BG-hex}}"
LoginButtonBgColor="#{{themix_ACCENT_BG-hex}}"
LoginButtonText="Login"

PopupBgColor="#{{themix_HDR_BG-hex}}"
PopupHighlightColor="#{{themix_ACCENT_BG-hex}}"

SessionButtonColor="#{{themix_HDR_BG-hex}}"
SessionIconColor="#{{themix_ACCENT_BG-hex}}"

PowerButtonColor="#{{themix_HDR_BG-hex}}"
PowerIconColor="#{{themix_ACCENT_BG-hex}}"

DateColor="#FFFFFF"
DateSize="25"
DateIsBold="true"
DateOpacity="1"
DateFormat="dddd, d MMM"

TimeColor="#FFFFFF"
TimeSize="40"
TimeIsBold="true"
TimeOpacity="1"
TimeFormat="hh:mm AP"
