[SddmGreeterTheme]
Name=Meowrch
Description=Meowrch SDDM Theme
Author=Meowrch
Website=https://github.com/Meowrch/Meowrch
License=MIT
Type=sddm-theme
Version=0.1
ConfigFile=theme.conf
Screenshot=backgrounds/bg.jpg
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=meowrch
Theme-API=2.0
QtVersion=6
