name: "Build NixOS Configuration"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Check Flake
      run: nix flake check --show-trace

    - name: Build NixOS Configuration
      run: nix build .#nixosConfigurations.meowrch.config.system.build.toplevel --show-trace
